@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to MetaDataManager</h1>

<iframe src="https://giphy.com/embed/BVStb13YiR5Qs" width="480" height="339" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/hello-adele-im-sorry-but-the-beginning-of-song-its-very-familiar-BVStb13YiR5Qs">via GIPHY</a></p>